/* Navigation */
#main-nav .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

#main-nav .social {
  display: none;
}

#main-nav ul,
#main-nav .logo {
  list-style: none;
  margin: 0.3rem auto;
}

#main-nav ul li a {
  text-decoration: none;
  padding: 1rem;
}

#home-articles .articles-container {}

#home-articles .articles-container>*:first-child,
#home-articles .articles-container>*:last-child {}

@media (max-width: 600px) {

  /* Stack Grid Items */
  #showcase .showcase-container {
    display: none;
  }

  #showcase .showcase-container,
  #home-articles .articles-container,
  #main-footer .footer-container {}

  #main-footer .footer-container>*:last-child {}

  #main-footer .footer-container>*:first-child,
  #main-footer .footer-container>*:nth-child(2) {}

  .page-container {}

  .page-container>*:first-child {}

  .l-heading {}
}