/* Navigation */
#main-nav .social {
}

#main-nav .container {
}

#main-nav ul,
#main-nav .logo {
}

#main-nav ul li a {
}

#home-articles .articles-container {
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
	grid-column: 1;
}

@media (max-width: 600px) {
	/* Stack Grid Items */
	#showcase .showcase-container,
	#home-articles .articles-container,
	#main-footer .footer-container {
		grid-template-columns: 1fr;
	}

	#main-footer .footer-container > *:last-child {
		grid-template-columns: 1fr;
		grid-column: 1;
	}

	#main-footer .footer-container > *:first-child {
		display: none;
	}

	.page-container {
		grid-template-columns: 1fr;
	}

	.page-container > *:first-child {
		display: none;
	}

	.l-heading {
	}
}
