<<<<<<< HEAD
#main-nav {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .social {
        display: none;
    }

    ul,
    .logo {
        list-style: none;
        margin: 0.3rem auto;
    }

    ul li a {
        text-decoration: none;
        padding: 1rem;
    }
}
=======
@media (max-width: 600px) {
	#showcase .showcase-container {
		display: none;
	}
}
>>>>>>> origin/sass-showcase
