#home-articles {
	.articles-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;

		& > *:first-child,
		& > *:last-child {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 1rem;
			align-items: center;
			grid-column: 1 / span 2;
		}
		& > *:last-child {
			grid-column: 2 / span 2;
		}
	}
}

#article {
	.meta {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #eee;
		padding: 0.5rem;
	}

	.meta,
	.category {
		margin-top: 0.4rem;
	}
}
